
body {
    background: white;
    background-image: radial-gradient(grey 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
  
h1 {
    text-align: center;
}
h4 {
    margin-top: -10px;
    
    margin-left: 20px;
    ;

}

p {
    margin-left: 20px;
}

.aboutme {
    display: flex;
    flex-direction: row;
}

.photo {
    align-self: center;
    margin-left: 350px;
    
}

.abouttitle{
    text-align: right;
    margin-right: 250px;
}

.lastitem {
    margin-bottom: 15px;
}
